
:root {
  --phone-width: 260px;
  --phone-height: 462px;
}

body {
	background: #1b1919;
}

#box {
	display: grid;
	margin: 0px auto;
	width: 800px;
	grid-template-areas: "screenshot mockup";
	justify-content: center;
}

.phone {
	width: var(--phone-width);
	height: var(--phone-height);
	background: url("image0.png");
	background-size: contain;
	border: 1px solid white;
}

#screenshot {
	grid-area: screenshot;
}

#mockup {
	display: grid;
	grid-area: mockup;
	grid: "." 283px "keyboard";
}

.keyboard {
	grid-area: keyboard;
	background: #2b2b2b;
	display: grid;
	grid:
"key_0  key_0  key_0  key_0  key_0  key_0  key_0  key_0" 29px
"key_1  key_1  key_2  key_3  key_4  key_5  key_6  key_7"
"key_8  key_8  key_9  key_3  key_10 key_11 key_12 key_13"
"key_14 key_14 key_15 key_3  key_16 key_17 key_18 key_19"
"key_20 key_21 key_22 key_3  key_23 key_24 key_25 key_19"
 / .5fr  .5fr  1fr 1fr   1fr   1fr   1fr   1fr
	;
	grid-gap: 4px;
	margin: 0px 2px 2px;
	overflow: hidden;
}

.keyboard > * {
  overflow: hidden;
  min-width: 0;
  color: white;
  font-size: .9em;
}

.suggestions {
	grid-area: sugg;
}

.row {
	grid-area: row;
}

.button {
	width: 100%;
	height: 100%;
	background: #696969;
	border-radius: 4px;

	display: flex;
  justify-content: center;
  align-items: center;
}